<html>
<body>
    <h3>Income Prediction Form</h3>
 
<div>
  <form action="/predict" method="POST">
      
    <label for="job_title">Job Title</label>
    <select id="job_title" name="job_title">
      <option value="Data Analyst">Data Analyst</option>
      <option value="Data Scientist">Data Scientist</option>
      <option value="ML Engineer">Machine Learning Engineer</option>
      <option value="Manager">Manager</option>
      <option value="Other">Other</option>
    </select>      
    <br>
      
    <label for="seniority">Job Seniority</label>
    <select id="seniority" name="seniority">
      <option value="Low">Low</option>
      <option value="High">High</option>
      <option value="Unknown">Unknown</option>
    </select>      
    <br>
      
    <label for="job_description">Job Description </label>
    <input type="text" id="job_description" name="job_description">Paste the job description here.
    <br>
      
    <label for="rating">Company Rating </label>
    <input type="text" id="rating" name="rating">[0-5]
    <br>
      
    <label for="location">Job Location </label>
    <input type="text" id="location" name="location">Enter Remote or the abbreviation of the state (i.e. WA)
    <br>  
    
    <label for="revenue">Company Revenue</label>
    <select id="revenue" name="revenue">
      <option value="Less than $1 million (USD)">Less than $1 million (USD)</option>
      <option value="$1 to $5 million (USD)">$1 to $5 million (USD)</option>
      <option value="$5 to $25 million (USD)">$5 to $25 million (USD)</option>
      <option value="$25 to $100 million (USD)">$25 to $100 million (USD)</option>
      <option value="$100 to $500 million (USD)">$100 to $500 million (USD)</option>
      <option value="$500 million to $1 billion (USD)">$500 million to $1 billion (USD)</option>
      <option value="$1 to $5 billion (USD)">$1 to $5 billion (USD)</option>
      <option value="$5 to $10 billion (USD)">$5 to $10 billion (USD)</option>
      <option value="$10+ billion (USD)">$10+ billion (USD)</option>
      <option value="Unknown / Non-Applicable">Unknown / Non-Applicable</option>
    </select>
    <br>
      
    <label for="size">Company Size</label>
    <select id="size" name="size">
      <option value="1 to 50 Employees">1 to 50 Employees</option>
      <option value="51 to 200 Employees">51 to 200 Employees</option>
      <option value="201 to 500 Employees">201 to 500 Employees</option>
      <option value="501 to 1000 Employees">501 to 1000 Employees</option>
      <option value="1001 to 5000 Employees">1001 to 5000 Employees</option>
      <option value="5001 to 10000 Employees">5001 to 10000 Employees</option>
      <option value="10000+ Employees">10000+ Employees</option>
      <option value="Unknown">Unknown</option>
    </select>
    <br>
      
    <label for="type_of_ownership">Company Type of Ownership</label>
    <select id="type_of_ownership" name="type_of_ownership">
      <option value="College / University">College / University</option>
      <option value="Company - Private">Company - Private</option>
      <option value="Company - Public">Company - Public</option>
      <option value="Contract">Contract</option>
      <option value="Government">Government</option>
      <option value="Hospital">Hospital</option>
      <option value="Nonprofit Organization">Nonprofit Organization</option>
      <option value="Self-employed">Self-employed</option>
      <option value="Subsidiary or Business Segment">Subsidiary or Business Segment</option>
      <option value="Unknown">Unknown</option>
    </select>
    <br>
      
    <label for="industry">Company Industry</label>
    <input type="text" id="industry" name="industry">
    <br>
      
    <label for="sector">Company Sector</label>
    <input type="text" id="sector" name="sector">
    <br>
      
    <label for="age">Company Age</label>
    <input type="text" id="age" name="age">Enter a integer.
    <br>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>